$font-size: 16px;

body {
    margin: 1em;
    font-family: Arial, sans-serif;
    font-size: $font-size;
    background: #242F4D;
    color: #999;
}

header,
main,
footer {
    display: block;
}

h1 {
    font-size: 1em;
    text-align: center;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.0em;
    margin: 1.5em 0 0.75em;
}



ul {
    margin: 0.5em 0 1em;
}

li {
    margin-bottom: 0.5em;
}

p {
    line-height: 1.25em;
}

$bar-height: 6px;

.custom-chart-items {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
        margin: 0 0 1px;
        padding: 0;
        position: relative;
        height: $bar-height;

        > div {
            position: absolute;
            top: 0;
            left: 0;
            height: $bar-height;
        }
    }
}

.temperature {
    background: rgba(0,225,80,0.5);
}

.humidity {
    background: rgba(50,10,225,0.5);
}

.current-weather {
    font-size: 1.5em;
}

.big-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        margin: 0.5em 0;
        padding: 0.2em;
        background: lighten(#242F4D, 5);
        text-align: center;
    }
}

.current-time {
    margin: 1em 0;
    padding: 1em;
    text-align: center;
    background: lighten(#242F4D, 20);
}

#currentTime {
    padding-left: 0.5em;
}

.live {
    color: #eee;
    font-size: 1.5em;
}

.buttons {
    margin: 0 auto;
    max-width: 40em;
    text-align: center;

    a {
        display: inline-block;
        margin: 0.5em;
        padding: 0.75em 1.5em;
        background: #FFBA19;
        color: #6B111D;
        font-size: 0.75em;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 0.3em;
    }
}


// testing autoprefixer
// :fullscreen a {
//     transition: transform 1s;
// }
