extends templates/layout.jade

block pageVars
    - var selectedNav = 'home'


block title
    title Tessel Data Viewer - Custom Chart

block contents

    p [sorting and filtering goes here] (blue = humidity, yellow = temp)

    #myChart


block scripts
    script(src='/assets/vendor/zepto.min.js')
    script(src='/assets/js/custom-chart.js')
