extends templates/layout.jade

block pageVars
    - var selectedNav = 'home'


block title
    title Current Weather


block contents

    div.current-weather

        ul.big-list
            li
                span.live#tempF
                | &deg;F / 
                span.live#tempC
                | &deg;C
            li
                span.live#humid
                | %RH
            li
                span.live#date

        div.current-time
            | Current Time:
            span.live#currentTime

        nav.buttons
            a(id="past24" href="#") Past 24H
            a(id="pastWeek" href="#") Past Week
            a(href="chartjs.html") Date Range





block scripts
    script(src='/assets/js/index.js')
