extends templates/layout.jade

block pageVars
    - var selectedNav = 'home'


block title
    title Current Temp on the Porch


block contents

    div

        ul.big-list
            li
                span#tempF
                | &deg;F / 
                span#tempC
                | &deg;C
            li
                span#humid
                | %RH
            li
                span#date


block scripts
    script(src='/assets/js/index.js')
