extends templates/layout.jade

block pageVars
    - var selectedNav = 'home'


block title
    title Tessel Data Viewer


block contents

    h2 Current Temp:

    div

        ul.big-list
            li
                span#tempF
                | &deg;F
            li
                span#tempC
                | &deg;C
            li
                span#humid
                | %RH
            li
                span#date


block scripts
    script(src='/assets/vendor/zepto.min.js')
    script(src='/assets/js/index.js')
